fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
groq
datasets
pandas
numpy
tensorflow
scikit-learn
matplotlib
seaborn
python-jose[cryptography]
bcrypt
httpx
